<%= render 'partials/user_nav' %>

<!-- new item modal -->
<div id="item-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">New Item</h4>
      </div>
      <div class="modal-body">
        <div class="signup-wrapper">
           <%= form_for @item do |f| %>
             <span>Title: </span>
             <%= f.text_field :title, required: true %><br>
             <span>Description: </span>
             <%= f.text_field :description, required: true %><br>
             <span>Price: </span>
             <%= f.number_field :price, required: true %><br>
             <span>Photo: </span>
             <%= f.url_field :photo, required: true %><br>
             <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- listing user's items -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<div class="items_container">
  <div id="columns">
    <% @items.each do |item| %>
      <div class="items_list">
        <img class="items_list_image" src="<%= item.photo %>"><br>
        <p>Title: <%= item.title %></p>
        <p>Description: <%= item.description.first(80) %></p>
        <p>Price: <%= item.price %></p>
        <a href="/items/<%= item.id %>">Read More!</a>
      </div>
    <% end %>
  </div>
</div>
