<%= render 'partials/nav_home' %>

<p class="shadow text2_2">eBarter</p>

<br>
<br>

<p class="script"><span>Browse below to find the right product for you!</span></p>


<div class="items_container">
	<div id="columns">
		<% @items.each do |item| %>
			<div class="items_list">
				<%= image_tag(item.photo) %>
				<!-- <img class="items_list_image" src="<%= item.photo %>"><br> -->
				<p>Title: <%= item.title %></p>
				<p>Price: $<%= item.price %></p>
				<p class="barter_tag"><a href="/items/<%= item.id %>">Barter!</a><p>
			</div>
		<% end %>
	</div>
</div>
