<%= render 'partials/nav_home' %>

<h1>ITEMS PAGE</h1>
<hr>
<% @items.each do |item| %>
  <p>Title: <%= item.title %></p>
  <p>Description: <%= item.description %></p>
  <p>Price: <%= item.price %></p>
  <img src="<%= item.photo %>">
  <a href="/items/<%= item.id %>">Show page</a>
  <hr>
<% end %>