<%= render 'partials/nav_home' %>

<!-- BARTER PAGE -->


<div class="barter_their_half">
	<div class="their_item">
		<img src="<%= @item.photo %>">
		<hr>
		<p>Title: <%= @item.title %></p>
		<p>Description: <%= @item.description %></p>
		<p>Price: $<%= @item.price %></p>
		<!-- <%= @email %> -->
	</div>
</div>

<div class="barter_your_half">
	<div class="items_container2">
		<h1 class="barter_header">My Items</h1>
		<hr>
		<div id="columns2">
			<% @current_user.items.each do |item| %>
				<div class="items_list2">
					<img class="items_list_image2" src="<%= item.photo %>"><br>
					<p>Title: <%= item.title %></p>
					<p>Price: $<%= item.price %></p>
					<!-- <%= @current_user.email %> -->
				</div>
			<% end %>
		</div>
	</div>
</div>

